<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTYOURREGULAR Profile</title>
    <!-- Link the custom stylesheet -->
 
    <!-- Using retro-style fonts for the Vaporwave look -->
    <link href="https://fonts.googleapis.com/css2?family=VT323&family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-card">
        <img src="regular.png" width="30%" alt="Profile Image">
        
        <!-- Main Content -->
        <h1>HI, call me NOTYOURREGULAR :)</h1>
        
        <h2>Fun facts about me</h2>
        
        <ul> 
            <li>I am gay</li>
            <li>I am rich</li>
            <li>I beat my meat 7 times a day</li>
        </ul>
        
        <p>Please connect with me <a href="wa.me//9129856402" target="_blank">here </a></p>
    </div>
</body>
</html>